th {
	background-color: lemonchiffon;
	border: 1px solid lightskyblue;
	padding: 0 5px 0 5px;

}
td {
	background-color: aliceblue;
	border: 1px solid #999;
	empty-cells: hide;
}
#text-edit{width:350px; height:250px;}

